/* ----------------------------------------- */
/*  Accordion                                */
/*  Taken from https://github.com/foundryvtt/dnd5e/blob/master/less/v1/apps.less
/* ----------------------------------------- */

.accordion {
  transition: margin-bottom 500ms ease;
}
.accordion.collapsed {
  > .accordion-content {
    height: 0;
  }
}

.accordion-indicator {
  display: none;
  transition: transform 500ms ease;
  align-self: center;
  opacity: 0.5;
  font-size: 0.75em;
}
.accordion .accordion-indicator {
  display: inline-block;
  transform: rotate(0deg);
}
.accordion.collapsed .accordion-indicator {
  transform: rotate(90deg);
}

.accordion-heading {
  cursor: pointer;
  position: relative;
}

.accordion-content {
  overflow: hidden;
  transition: height 500ms ease;
}
