/* ----------------------------------------- */
/*  Accordion                                */
/*  Taken from https://github.com/foundryvtt/dnd5e/blob/master/less/v1/apps.less
/* ----------------------------------------- */

.mhl-accordion {
  transition: margin-bottom var(--mhl-accordion-speed) ease;
}
.mhl-accordion.collapsed {
  > .mhl-accordion-content {
    height: 0;
  }
}

.mhl-accordion-indicator {
  display: none;
  transition: transform var(--mhl-accordion-speed) ease;
  align-self: center;
  opacity: 0.5;
  font-size: 0.75em;
  padding-left: 0.2em;
}
.mhl-accordion .mhl-accordion-indicator {
  display: inline-block;
  transform: rotate(0deg);
}
.mhl-accordion.collapsed .mhl-accordion-indicator {
  transform: rotate(90deg);
}

.mhl-accordion-heading {
  cursor: pointer;
  position: relative;
}

.mhl-accordion-content {
  overflow: hidden;
  transition: height var(--mhl-accordion-speed) ease;
}
