.mhl-manager-settings-menu {  
  .display-glyph {
    text-align: right;
    padding-right: 0.2em;
    font-size: 1.2em;
  }
  .form-grid {
    display: grid;    
    grid-template-columns: 45% 10% 45%;
    grid-gap: 0.3em;
    padding: 0 0.3em 0.3em 0.3em;
    justify-items: center;
    align-items: center;
  }
  button {
    // max-width: 200px;
    grid-column: span 3;
  }
  label {
    width: 100%;
  }
  p.notes {
    grid-column: span 3;
    width: 100%;
  }
}
