section.mhl-settings-manager {
  padding-right: 0.2em;

  details[data-setting-group] {
    summary {
      list-style: none;
      width: 100%;
    }
    h3::after {
      transition: opacity 300ms ease-in-out;
      opacity: 0.5;
      padding-left: 0.2em;
      content: "⯆";
    }
    h3:hover:after {
      opacity: 0.75;
    }
    &:not([open]) {
      h3::after {
        content: "⯇";
      }
    }
  }

  code {
    // so enriched hints don't word-wrap
    white-space: nowrap;
  }

  span.mhl-reset-button {
    float: right;
    text-align: right;
    padding: 0 0.1em;
  }

  a[data-reset-type] {
    display: inline;
    padding-right: 0.2em;
    transition: all 0.5s ease-out;
    [class~="mdi"] {
      // material design icons are slightly smaller than FA?
      font-size: var(--mhl-mdi-size);
    }
    opacity: 1;
    text-shadow: var(--mhl-reset-text-shadow);

    /*
    * Disabled reset button classes
    */
    &[class^="disabled-"] {
      cursor: default;
    }
    &.disabled-blurry {
      filter: blur(2px);
    }

    &.disabled-hidden {
      display: none;
    }

    &.disabled-transparent {
      opacity: 0.25;
    }
  }
  h3[data-setting-group] {
    border-bottom: 1px solid var(--color-underline-header);
  }
  div[data-setting-id] {
    &.app-v1-color-picker input[type="color"] {
      max-width: 20%;
      height: var(--form-field-height);
      margin-left: 5px;
      border: 2px groove var(--color-border-light-highlight);
      flex: 1.45;
      cursor: pointer;
    }

    input[type="text"]:has(+ input[type="color"]):invalid {
      text-decoration: var(--mhl-text-error-decoration);
    }
  }
  .accordion-border {
    .mhl-accordion {
      transition: border-bottom var(--mhl-accordion-speed) ease-in;
      border-bottom: 1px dashed var(--color-underline-header);
      &.collapsed {
        border-bottom: 1px dashed transparent;
      }
    }
  }
}

.mhl-reset-app,
.mhl-dialog.mhl-reset {
  --mhl-settings-grid-layout: minmax(200px, 28%) minmax(70px, 10%) 27% 27% 8%;
  div.specificity {
    [class~="mdi"] {
      font-size: var(--mhl-mdi-size);
    }

    & * {
      user-select: text;
    }

    span.count-tooltip {
      font-weight: bold;
      text-decoration: underline;
      cursor: help;
    }

    div.section-grid {
      margin-bottom: 0.5em;
      // border: 1px solid green;
      // border-top: 1px solid var(--color-border-light-tertiary);
      // border-bottom: 1px solid var(--color-border-light-tertiary);
      // border-radius: 8px;
      display: grid;
      grid-template-rows: 40px minmax(2rem, auto) auto;
      grid-template-columns: var(--mhl-settings-grid-layout);

      .table-header,
      .table-footer {
        display: contents;
      }

      .table-body {
        border: 1px solid black;
        border-width: 0 1px;
        display: grid;
        grid-column: span 5;
        grid-template-columns: subgrid;
        grid-template-rows: repeat(auto-fill, auto);
        width: 100vw;
        height: 100%;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .table-header {
        & > span {
          height: 40px;
          &:first-child {
            border-top-left-radius: 8px;
          }
          &:last-child {
            border-right: none;
            border-top-right-radius: 8px;
          }
        }
      }

      .table-footer {
        .footer-filler {
          grid-column: span 5;
          height: 10px;
        }
        & > span {
          height: 40px;
          &:first-child {
            border-bottom-left-radius: 8px;
          }
          &:last-child {
            border-right: none;
            border-bottom-right-radius: 8px;
          }
        }
      }

      :is(.table-header, .table-footer) > * {
        background-color: var(--mhl-table-header-background-color);
        color: var(--mhl-text-table-header-color);
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        max-height: 40px;
      }

      .group-header {
        font-size: 1rem;
        background-color: var(--mhl-table-subheader-background-color);
        color: var(--mhl-text-table-header-color);
        border: 1px solid black;
        border-top: none;
        grid-column: span 5;
        text-align: center;
      }

      .setting-group-wrapper {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 5;
        grid-template-rows: 40px auto;
      }
      .group-setting-rows {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 5;
      }

      .setting-row {
        &:nth-child(even) > * {
          background-color: rgba(255, 255, 255, 0.4);
        }
        display: grid;
        grid-column: span 5;
        grid-template-columns: subgrid; //var(--mhl-settings-grid-layout);
        // &:not(:last-child) {
        //   border-bottom: 1px solid black;
        // }
        & > span {
          display: inline-block;
          padding: 0.2rem;
          //todo: make color variables
          border-right: 1px solid black;
          &:last-child {
            border-right: none;
          }
        }
      }

      .setting-name {
        display: block;
        text-align: right;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 100px;
        min-height: 2.5rem;
        max-width: minmax(max-content, 300px);

        white-space: nowrap;
        code {
          font-size: 0.7rem;
          opacity: 0.75;
        }
      }
      .type-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.3rem;
        // i {
        //   border: 1px solid white;
        // }
        .set-field-element-type i {
          font-size: 0.9em;
        }
      }

      .value-display {
        &:not(.object-setting) {
          text-align: center;
        }
        font-family: monospace;
        white-space: pre;
      }

      .object-setting {
        overflow: auto;
        // overflow-wrap: normal;
        text-align: left;
      }

      .color-box {
        border: 1px solid var(--mhl-color-box-border-color);
        width: 1rem;
        aspect-ratio: 1/1;
        margin-left: 0.3rem;
        display: inline-block;
      }

      .reset-toggle {
        min-width: max-content;
        max-width: 10rem;
        text-align: center;
      }
    }

    .default-false {
      .saved-display {
        text-decoration: 3px solid underline var(--mhl-color-failure);
      }
    }
  }
}

#tooltip.no-defaults-list {
  ul {
    margin-right: 1em;
    padding-right: 1em;
  }
  li {
    margin-bottom: 0.3em;
    code {
      white-space: nowrap;
      opacity: 0.75;
    }
  }
}
