section.mhl-settings-manager {
  padding-right: 0.2em;

  details[data-setting-group] {
    summary {
      list-style: none;
      width: 100%;
    }
    h3::after {
      transition: opacity 300ms ease-in-out;
      opacity: 0.5;
      padding-left: 0.2em;
      content: "⯆";
    }
    h3:hover:after {
      opacity: 0.75;
    }
    &:not([open]) {
      h3::after {
        content: "⯇";
      }
    }
  }

  code {
    // so enriched hints don't word-wrap
    white-space: nowrap;
  }

  span.mhl-reset-button {
    float: right;
    text-align: right;
    padding: 0 0.1em;
  }

  a[data-reset-type] {
    display: inline;
    padding-right: 0.2em;
    transition: all 0.5s ease-out;
    [class~="mdi"] {
      // material design icons are slightly smaller than FA?
      font-size: 1.1em;
    }
    opacity: 1;
    text-shadow: var(--mhl-reset-text-shadow);

    /*
    * Disabled reset button classes
    */
    &[class^="disabled-"] {
      cursor: default;
    }
    &.disabled-blurry {
      filter: blur(2px);
    }

    &.disabled-hidden {
      display: none;
    }

    &.disabled-transparent {
      opacity: 0.25;
    }
  }
  h3[data-setting-group] {
    border-bottom: 1px solid var(--color-underline-header);
  }
  div[data-setting-id] {
    &.app-v1-color-picker input[type="color"] {
      max-width: 20%;
      height: var(--form-field-height);
      margin-left: 5px;
      border: 2px groove var(--color-border-light-highlight);
      flex: 1.45;
      cursor: pointer;
    }

    input[type="text"]:has(+ input[type="color"]):invalid {
      text-decoration: var(--mhl-text-error-decoration);
    }
  }
  .accordion-border {
    .mhl-accordion {
      transition: border-bottom var(--mhl-accordion-speed) ease-in;
      border-bottom: 1px dashed var(--color-underline-header);
      &.collapsed {
        border-bottom: 1px dashed transparent;
      }
    }
  }
}
.mhl-reset-app,
.mhl-dialog.mhl-reset {
  // .dialog-buttons button {
  //   // word-wrap: none;
  //   flex-basis: min-content;
  //   flex: 1;
  // }
  & > * {
    user-select: text;
  }
  min-width: 400px;
  span.count-tooltip {
    font-weight: bold;
    text-decoration: underline;
  }
  table {
    width: 100%;
  }
  h3 {
    border-bottom: none;
  }
  tr {
    // max-height: 2rem;

    &.default-false {
      border: 2px dashed var(--mhl-color-failure);
    }
  }
  td {
    user-select: text;
    // border: 1px solid gold;
    padding: 0.3em;
    text-align: center;
    max-width: 250px;
    min-width: fit-content;

    &:first-child {
      max-width: 300px;
      font-weight: bold;
      text-align: right;
    }
    div.color-box {
      width: 1em;
      aspect-ratio: 1/1;
      margin-left: 0.3rem;
      display: inline-block;
    }

    &.object-setting {
      user-select: auto;
      max-height: 200px;
      overflow: auto;
      // overflow-wrap: normal;
      text-align: left;
    }
    &.value-display {
      font-family: monospace;
      white-space: pre;
    }
    &.bool-true {
      color: var(--mhl-color-success);
    }
    &.bool-false {
      color: var(--mhl-color-failure);
    }
  }
}
