mhl-slide-toggle {
  --mhl-slide-toggle-height: 20px;
  --mhl-slide-toggle-width: 36px;
  --mhl-slide-toggle-padding: 3px;
  --mhl-slide-toggle-thumb-width: calc(var(--mhl-slide-toggle-height) - var(--mhl-slide-toggle-padding) * 2);
  --mhl-slide-toggle-transition-time: 250ms;
  --mhl-slide-toggle-thumb-color: white;
  --mhl-slide-toggle-track-color-checked: var(--mhl-checkbox-checked-color);
  --mhl-slide-toggle-track-color-unchecked: var(--dui-input-background, #aaa);
  display: inline-block;
  width: var(--mhl-slide-toggle-width);
  max-width: var(--mhl-slide-toggle-width);
  height: var(--mhl-slide-toggle-height);
  cursor: pointer;

  .mhl-slide-toggle-track {
    width: 100%;
    height: 100%;
    background-color: var(--mhl-slide-toggle-track-color-unchecked);
    border-radius: calc((var(--mhl-slide-toggle-height) * 2) / 3);
    box-shadow: 0 0 8px rgb(0 0 0 / 45%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--mhl-slide-toggle-padding);
  }

  .mhl-slide-toggle-thumb {
    width: var(--mhl-slide-toggle-thumb-width);
    height: var(--mhl-slide-toggle-thumb-width);
    border-radius: 100%;
    background-color: var(--mhl-slide-toggle-thumb-color);
    box-shadow: 0 0 8px rgb(0 0 0 / 45%);
    text-align: center;
    transition: margin-left var(--mhl-slide-toggle-transition-time) ease;
  }

  /* Checked state */
  &[checked]:not([disabled]) .mhl-slide-toggle-track {
    background-color: var(--mhl-slide-toggle-track-color-checked);
  }
  &[checked] .mhl-slide-toggle-thumb {
    margin-left: calc(100% - var(--mhl-slide-toggle-thumb-width));
  }
  &[disabled] {
    .mhl-slide-toggle-track {
      background-color: var(--mhl-input-disabled-background);
    }
    .mhl-slide-toggle-thumb {
      background-color: color-mix(in srgb, var(--mhl-input-disabled-background) 20%, white);
      // border: 1px solid color-mix(in srgb, var(--mhl-input-disabled-background) 40%, white);
    }
  }
}
